<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pre</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCompanyServlet</display-name>
    <servlet-name>AddCompanyServlet</servlet-name>
    <servlet-class>controller.AddCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCompanyServlet</servlet-name>
    <url-pattern>/AddCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>companyServlet</display-name>
    <servlet-name>companyServlet</servlet-name>
    <servlet-class>controller.companyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>companyServlet</servlet-name>
    <url-pattern>/companyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyList</display-name>
    <servlet-name>CompanyList</servlet-name>
    <servlet-class>controller.CompanyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyList</servlet-name>
    <url-pattern>/CompanyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyListServlet</display-name>
    <servlet-name>CompanyListServlet</servlet-name>
    <servlet-class>controller.CompanyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyListServlet</servlet-name>
    <url-pattern>/CompanyListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePServlet</display-name>
    <servlet-name>ChangePServlet</servlet-name>
    <servlet-class>controller.ChangePServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePServlet</servlet-name>
    <url-pattern>/ChangePServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWQServlet</display-name>
    <servlet-name>AddWQServlet</servlet-name>
    <servlet-class>controller.AddWQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWQServlet</servlet-name>
    <url-pattern>/AddWQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIServlet</display-name>
    <servlet-name>AddIServlet</servlet-name>
    <servlet-class>controller.AddIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIServlet</servlet-name>
    <url-pattern>/AddIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIQServlet</display-name>
    <servlet-name>AddIQServlet</servlet-name>
    <servlet-class>controller.AddIQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIQServlet</servlet-name>
    <url-pattern>/AddIQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>controller.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeMServlet</display-name>
    <servlet-name>ChangeMServlet</servlet-name>
    <servlet-class>controller.ChangeMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMServlet</servlet-name>
    <url-pattern>/ChangeMServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEServlet</display-name>
    <servlet-name>ChangeEServlet</servlet-name>
    <servlet-class>controller.ChangeEServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEServlet</servlet-name>
    <url-pattern>/ChangeEServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCompanyServlet</display-name>
    <servlet-name>SelectCompanyServlet</servlet-name>
    <servlet-class>controller.SelectCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCompanyServlet</servlet-name>
    <url-pattern>/SelectCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelServlet</display-name>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>controller.DelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/DelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCompanyIQServlet</display-name>
    <servlet-name>SelectCompanyIQServlet</servlet-name>
    <servlet-class>controller.SelectCompanyIQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCompanyIQServlet</servlet-name>
    <url-pattern>/SelectCompanyIQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectIQServlet</display-name>
    <servlet-name>SelectIQServlet</servlet-name>
    <servlet-class>controller.SelectIQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectIQServlet</servlet-name>
    <url-pattern>/SelectIQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCommentServlet</display-name>
    <servlet-name>ViewCommentServlet</servlet-name>
    <servlet-class>controller.ViewCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommentServlet</servlet-name>
    <url-pattern>/ViewCommentServlet</url-pattern>
  </servlet-mapping>
</web-app>